{% extends 'base.html.twig' %}

{% block body_id 'dashboard' %}

{% block main %}
    <div class="col-sm-12">
        Username: {{ player.username }}
        <br>
        Full name: {{ player.fullName }}
    </div>

    <div class="col-sm-6">
        <div class="btn-group-vertical">
            <div class="btn-group">

                <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Kingdom: {% for kingdom in player.kingdoms %}
                        {% if kingdom.id == kingdomId %}
                            {{ kingdom.name }}
                            [{{ kingdom.x }} : {{ kingdom.y }}]
                        {% endif %}
                    {% endfor %}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for kingdom in player.kingdoms %}
                        <li>
                            {% if kingdom.id == kingdomId %}
                                <a class="list-group-item active">✓ {{ kingdom.name }} [{{ kingdom.x }}
                                    : {{ kingdom.y }}
                                    ]</a>

                            {% else %}
                                <a class="list-group-item"
                                   href="{{ path("change_Kingdom", {id: kingdom.id }) }}">{{ kingdom.name }}
                                    [{{ kingdom.x }} : {{ kingdom.y }}]</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <br/>
            <div class="btn-group-vertical">
                <a class="btn btn-default" href="{{ path("buildings_list") }}">Show buildings</a>
                <br/>
                <a class="btn btn-default" href="{{ path("units") }}">Show units</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        {{ render(controller(
        'KingdomGameBundle:KingdomCurrent:battles'
        )) }}
    </div>
{% endblock %}
