{% extends 'base.html.twig' %}

{% block main %}
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Name</th>
            <th>Level</th>
            {% for resource in resources %}
            <th>{{ resource.name }} </th>
            {% endfor %}
            <th>Build next</th>
        </tr>
        </thead>
        <tbody>
            {% for building in buildings %}
                <tr>
                    <td>{{ building.building.name }}</td>
                    <td>{{ building.level }}</td>
                    {% for cost in building.building.costs %}
                    <td>{{ cost.amount * (1.5 * (building.level + 1)) }}</td>
                    {% endfor %}
                    <td><a class="btn btn-primary btn-xs" href="{{ path("building_evolve", {id: building.building.id}) }}">Build on {{ building.level + 1 }} level</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}